.is-order-summary {
  /* background-color: #f5f5f5; */
  background: #ffffff;
  box-shadow: 0px 0px 10px #e8e8e8;
  padding: 20px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.select-dropdown,
.select-dropdown * {
  margin: 0;
  padding: 0.5rem;
  position: relative;
  box-sizing: border-box;
}
.select-dropdown {
  width: 100%;
  position: relative;
  /* background-color: #e6e6e6; */
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.select-dropdown select {
  font-size: 1rem;
  font-weight: normal;
  max-width: 100%;
  padding: 8px 24px 8px 10px;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: center;
}
.select-dropdown select:active,
.select-dropdown select:focus {
  outline: none;
  box-shadow: none;
}
.select-dropdown:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  width: 0;
  height: 0;
  margin-top: -2px;
  border-top: 5px solid #aaa;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.total-cost,
.final-cost {
  display: flex;
  justify-content: space-between;
}

.enter-promo * {
  display: block;
  margin: 1rem 0;
}

.flat-button {
  border: none;
  color: #fff;
  background-color: #ff8b15;
  padding: 0.5rem 1.5em;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.flat-button:hover {
  background-color: #fc8005;
}

.apply-promo {
  background-color: #fa7474;
}

.apply-promo:hover {
  background-color: #ff3e3e;
}

.checkout {
  padding: 0.8rem 1.5rem;
  width: 100%;
}

.increase-quantity {
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
}

.increase-quantity button {
  border: none;
  background-color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: larger;
}

.increase-quantity button:nth-of-type(1):hover {
  color: white;
  background-color: #f75e5e;
}

.increase-quantity button:nth-of-type(2):hover {
  color: white;
  background-color: #5ef75e;
}
