.banner {
  display: flex;
  background-color: #f9efe6;
  padding-inline: min(5%, 5rem);
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.subject,
.banner-text {
  width: 100%;
  align-self: center;
}

.banner-text h1 {
  font-size: clamp(2rem, 3vw, 3rem);
  font-weight: 500;
}

.subject {
  display: flex;
  justify-content: flex-end;
}

.subject img {
  width: min(60%, 400px);
  object-fit: contain;
}

@media screen and (max-width: 769px) {
  .buy-now {
    padding: 0.8rem 1rem !important;
    margin-bottom: 1rem !important;
    font-size: small !important;
  }
}

@media screen and (max-width: 500px) {
  .banner {
    flex-direction: column-reverse;
    padding: 1rem;
  }

  .subject {
    justify-content: center;
  }

  .is-buy-now {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .buy-now{
    width: 100% ;
    padding: 1rem 2rem !important;
  }

  .banner-text h1{
    text-align: center;
  }
}
