.nav-container {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  min-height: 5rem;
  color: white;
}

.links {
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: min(50%, 400px);
}
.links a {
  width: 100%;
  text-decoration: none;
  color: white;
}

.account {
  display: flex;
}

.account-details {
  position: relative;
}

.account span:nth-of-type(1) {
  font-size: 1.5rem;
}

.items-in-cart {
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  left: 15px;
  background-color: #ff0000;
  color: white;
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium !important;
}

@media screen and (max-width:768px) {
  .delivery-link{
    display: none;
  }
}
