.product-container {
  max-height: 30rem;
  padding: 1rem;
  background: #ffffff;
  box-shadow: 0px 0px 10px #e8e8e8;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.product-container:hover {
  box-shadow: 13px 13px 26px #e8e8e8, -13px -13px 26px #ffffff;
}

.image img {
  width: 50%;
  height: 100%;
  object-fit: contain;
}

.star-rating {
  display: flex;
  gap: 3rem;
  margin-bottom: 1rem;
}

.star-rating * {
  color: gold;
}

.add-to-cart {
  /*roundedbutton*/
  border-radius: 5px;
  /*backgroundcolor*/
  background-color: transparent;
  /*border*/
  border: 1px solid #ccc;
  /*bordercolor*/
  -webkit-border-radius: 0px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 10px;
  -webkit-border-radius: 5px;
  cursor: pointer;
}

.add-to-cart:hover {
  /*roundedbutton*/
  border-radius: 5px;
  /*backgroundcolor*/
  background-color: #ccc;
  /*border*/
  border: 1px solid #ccc;
  /*bordercolor*/
  -webkit-border-radius: 0px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 10px;
  -webkit-border-radius: 5px;
}
.name-price-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}

.name-price-product * {
  margin: 0;
  margin-top: 1rem;
  font-weight: 900;
}

.name-price-product h4 {
  font-size: 1.2rem;
}

.actual-product-price {
  font-size: 1rem;
  color: #ff8b15;
}
